.planets {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-content: center;
    margin: auto;
}

.planet {
    margin: 1em;
    padding: 1em;
    border: 2px solid black;
    border-radius: 50%;
}

.planetlocal {
    background: darkmagenta;
    color: blue;
}

.planethabitable {
    box-shadow: 0px 0px 10px 10px green;
}